<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="mongodbqueue" value="mongodb://localhost:27017/test"/>
	  <add key="ScanInterval" value="500"/>
	  <add key="MaxThreads" value="20"/>
  </appSettings>
  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <backColor value="Green" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <backColor value="Yellow" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <!--
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="F:\urltest\webminer_lietou_hunter.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    -->
    <appender name="MongoDBAppender" type="Log4Mongo.MongoDBAppender, Log4Mongo">
      <!-- 
    MongoDB database connection in the format:
    mongodb://[username:password@]host1[:port1][,host2[:port2],...[,hostN[:portN]]][/[database][?options]]
    See http://www.mongodb.org/display/DOCS/Connections for connectionstring options 
    If no database specified, default to "log4net"
    -->
      <connectionString value="mongodb://localhost:27017" />
      <!-- 
    Name of the collection in database
    Optional, Defaults to "logs"
    -->
      <collectionName value="logs" />
      <field>
        <name value="timestamp" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </field>
      <field>
        <name value="level" />
        <layout type="log4net.Layout.PatternLayout" value="%level" />
      </field>
      <field>
        <name value="thread" />
        <layout type="log4net.Layout.PatternLayout" value="%thread" />
      </field>
      <field>
        <name value="logger" />
        <layout type="log4net.Layout.PatternLayout" value="%logger" />
      </field>
      <field>
        <name value="message" />
        <layout type="log4net.Layout.PatternLayout" value="%message" />
      </field>
    </appender>
    <root>
      <level value="INFO" />
      <!--<appender-ref ref="ConsoleAppender" />-->
      <appender-ref ref="ColoredConsoleAppender" />
      <!--<appender-ref ref="MongoDBAppender" />-->
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.12.0" newVersion="1.2.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>